{% extends "todo/base.html" %}
{% block content %}
    {% load static %}
    <br><br>
    <h2>Report Generator</h2>
    <br>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <button type="submit" name="invoice" value="" class="btn btn-warning">Generate Invoice</button>
        <button type="submit" name="comparison" value="" class="btn btn-warning">Generate Comparison Report</button>

    </form>
    <br>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-info" role="alert">
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
        </ul>
    {% endif %}
    <div>
        {#<a href="{% static "Comparison_Report.xlsx" %}" class="btn btn-success px-4 py-2 btn-sm">Download Report</a>#}
{#        <a href="/media/xlsx/remit.xlsx" class="btn btn-success px-4 py-2 btn-sm">Download Invoice</a>#}
        <a href="/media/Comparison_Report.xlsx" class="btn btn-success px-4 py-2 btn-sm">Download Comparison Report</a><br><br>
    </div>

    {% for xlsx_file in xlsxlist %}
        <a href='/media/xlsx/{{ xlsx_file }}' class="btn btn-outline-info px-4 py-2 btn-sm">{{ xlsx_file }}</a><br><br>
    {% endfor %}

{% endblock %}