{% extends "todo/base.html" %}
{% block content %}
    {% load static %}
    <br> <br>
    <h2>Report Generator</h2>
    <br>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <button type="submit" name="invoice" value="" class="btn btn-primary">Generate Invoice</button>
        <br><br>
        <button type="submit" name="comparison" value="" class="btn btn-warning">Generate Comparison Report</button>

    </form>
    <br>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}

    {% endif %}
    <h5>Download Generated Comparison Report</h5>
    <div>
        {#<a href="{% static "Comparison_Report.xlsx" %}" class="btn btn-success px-4 py-2 btn-sm">Download Report</a>#}
        {#<a href="/media/xlsx/remit.xlsx" class="btn btn-success px-4 py-2 btn-sm">Download Invoice</a>#}
        <a href="/media/Comparison_Report.xlsx" class="btn btn-outline-success px-4 py-2 btn-sm">Download Comparison
            Report</a><br><br>
    </div>

    <h5>Download Converted Invoices - Excel Files</h5>
    {% for xlsx_file in xlsxlist %}
        <a href='/media/xlsx/{{ xlsx_file }}' class="btn btn-outline-info px-4 py-2 btn-sm">Download {{ xlsx_file }}</a>
        <br><br>
    {% endfor %}
    <br><br>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" name="delete_all" value="" class="btn btn-danger">Delete All Excel Files</button>
    </form>

{% endblock %}