{% extends "todo/base.html" %}
{% block content %}
    {% load static %}
    <br><br>
    <h2>Upload Files</h2>
    <br>
    {% if document != "" %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" class="btn btn-outline-warning" name="document">
            <br><br>
            <button type="submit" name="upload_pdf" class="btn btn-primary">Upload File</button>
        </form>
        {% if url == 'No file selected' %}

            <p>No file selected</p>
        {% elif url == 'All PDFs Deleted' %}
            <p>All PDFs Deleted</p>
        {% else %}
            <p>Uploaded File : <a href="{{ url }}">{{ url }}</a></p>
        {% endif %}
    {% endif %}
    <br><br>
    <h5>Delete All PDF Files</h5>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" name="delete_all_pdfs" value="" class="btn btn-danger">Delete All PDF Files</button>
    </form>
    {% if pdf_deleted == 'All PDFs Deleted' %}
        <p>All PDFs Deleted</p>
    {% else %}
        <p></p>
    {% endif %}

{% endblock %}